---
import homeIcon from 'images/home.svg?raw';

export interface Link {
	label: string;
	href: string;
}

export interface Props {
	links: Link[];
}

const { links } = Astro.props as Props;
const restLinks = links.slice(0, links.length - 1);
const lastLink = links.at(-1);
---

<div class="breadcrumbs">
	<a class="home-link" title="home" href="/" set:html={homeIcon}></a>
	{
		restLinks.map((link) => (
			<a href={link.href} title={link.label}>
				{link.label.trim()}
			</a>
		))
	}
	{lastLink ? <span>{lastLink.label}</span> : null}
</div>

<style lang="scss">
	.breadcrumbs {
		margin: 1rem 0;

		& > a,
		& span:last-child {
			display: inline-block;
			font-size: 0.85rem;
			text-decoration: none;
		}

		& > a {
			color: var(--red-600);

			&::after {
				display: inline-block;
				content: '/';
				padding: 0 0.25rem;
				color: var(--text-main);
			}
		}

		& span:last-child {
			color: var(--f1-red);
			font-weight: 500;
		}

		& .home-link {
			display: inline-flex;
			align-items: center;

			& > :global(svg) {
				width: 0.75rem;
				height: 0.75rem;
			}

			&:hover {
				text-decoration: none;
			}

			&::after {
				padding: 0 0.25rem 0 0.5rem;
			}
		}
	}
</style>
