---
import MainLayout from 'layouts/main.astro';
import Breadcrumbs from 'components/breadcrumbs.astro';
import seasonsQuery from 'queries/seasons'

const seasons = await seasonsQuery()
---
<style lang="scss">
.seasons-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;

  .season-card {
    padding: 2rem;
    background: var(--f1-red);
    border-radius: 0.5rem;
    align-items: center;
    display: flex;
    aspect-ratio: 3 / 1;
    column-gap: 2rem;

    & a {
      text-decoration: none;
    }

    & > h2 {
      margin: 0;
      font-size: 2.25rem;
    }

    & > ul {
      padding-left: 0;
      list-style-type: none;
      font-size: 1rem;

      & > li:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
}
</style>
<MainLayout>
  <div>
    <Breadcrumbs links={[{text: 'Seasons', href: ''}]} />
    <section class="seasons-grid">
      {seasons.map(season => (
        <div class="season-card">
          <h2><a href={`/seasons/${season}/`}>{season}</a></h2>
          <ul>
            <li><a href={`/seasons/${season}/races/`}>Races</a></li>
            <li><a href={`/seasons/${season}/driver-standings/`} disabled>Drivers Standings</a></li>
            <li><a href={`/seasons/${season}/constructors-standings/`} disabled>Constructors Standings</a></li>
          </ul>
        </div>
      ))}
    </section>
  </div>
</MainLayout>
